//Colors
$black1: hsl(0, 0%, 2%);
$black2: hsl(0, 0%, 12%);
$black3: hsl(0, 0%, 18%);
$black4: hsl(0, 0%, 23%);

$gray1: hsl(0, 0%, 51%);
$gray2: hsl(0, 0%, 91%);
$gray3: hsl(0, 0%, 96%);

$white: hsl(0, 0%, 100%);

$purple: hsl(274, 82%, 60%);

$red: hsl(0, 100%, 66%);

//Fonts

$sans-serif : "Inter", sans-serif;
$serif: "Lora", serif;
$mono: "Inconsolata", monospace;

//Text and input font size
$fontSize: 18px;
